html {
    overflow-x: hidden;
}
.p-10 {
    padding: 10px;
}
.history-content {
    padding-left: 96px;
    padding-right: 96px;
    padding-top: 75px;
}
.footer-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-child {
    justify-content: start;
}
.srikandi-content-wrapper {
    padding-top: 76px;
    padding-bottom: 76px;
    padding-left: 76px;
    padding-right: 76px;
}
.bumn-muda-content-wrapper {
    padding-left: 76px;
    padding-right: 76px;
    padding-top: 76px;
    padding-bottom: 76px;
}
.img-struktur {
    max-width: 1200px;
    align-items: center;
    align-content: center;
    height: auto;
}
.structure-body.imgbody-struktur {
    max-width: 100%;
    overflow-x: auto;
    display: block;
    padding-left: 12px;
    padding-right: 12px;
}


@media only screen and (min-width: 300px) and (max-width: 768px) {
    .page-about-content {
        margin-top: 20px;
    }
    .history-content {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 75px;
        padding-bottom: 75px;
    }
    .footer-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-child {
        justify-content: center;
    }
    .srikandi-content-wrapper {
        padding-top: 24x;
        padding-bottom: 24px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .bumn-muda-content-wrapper {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 24px;
        padding-bottom: 24px;
    }
}