html {
    overflow-x: hidden;
}
.footer-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-child {
    justify-content: start;
}


@media only screen and (min-width: 300px) and (max-width: 768px) {
    section#section-blog .blog-wrapper-container {
        display: flex;
        flex-wrap: wrap;
    }
    section#section-blog .blog-wrapper-container .blog-item {
        width: 100% !important;
    }
    .footer-flex {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .footer-child {
        justify-content: center;
        margin: 10px;
    }
}