nav {
  &.navbar {
    padding-top: 36px;
    padding-bottom: 36px;
    background-color: #fff;
    .navbar-nav {
      .nav-link {
        &.active {
          font-weight: 600;
        }
        padding-left: .75rem;
        padding-right: .75rem;
        font-weight: 200;
        color: #000;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
    }
  }
}

section#section-page-banner {
  background-image: url('../../img/banners/about-banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  &::before {
    content: '';
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .80;
    background-color: var(--bs-primary);
  }
  div {
    position: relative;
    z-index: 2;
  }
}

section#section-contact-cta {
  background-image: url('../../img/globals/fhci-icon-half.svg');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 25%;
}