html {
    overflow-x: hidden;
}
.img-magazine {
    margin-top: 28px;
    margin-bottom: 28px;
}
.footer-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-child {
    justify-content: start;
}


@media only screen and (min-width: 300px) and (max-width: 768px) {
    .footer-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-child {
        justify-content: center;
    }
}