nav {
  &.navbar {
    padding-top: 36px;
    padding-bottom: 36px;
    background-color: #fff;
    .navbar-nav {
      .nav-link {
        &.active {
          font-weight: 600;
        }
        padding-left: .75rem;
        padding-right: .75rem;
        font-weight: 200;
        color: #000;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
    }
  }
}

section#section-page-banner {
  background-image: url('../../img/banners/program-banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  &::before {
    content: '';
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .80;
    background-color: var(--bs-primary);
  }
  div {
    position: relative;
    z-index: 2;
  }
}

section#section-magazine {
  background-image: url('../../img/globals/fhci-icon-half-rtl.svg');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 25%;
  .section-swiper {
    overflow: visible !important;
    position: relative;
    .section-navigation-prev {
      position: absolute;
      left: 30%;
      top: 35%;
      height: 64px;
      width: 64px;
      &::after {
        transform: scale(.5) !important;
        color: #fff;
      }
      &::before {
        content: '';
        background: #272727;
        height: 64px;
        width: 64px;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 50%;
      }
    }
    .section-navigation-next {
      position: absolute;
      right: 30%;
      top: 35%;
      height: 64px;
      width: 64px;
      &::after {
        transform: scale(.5) !important;
        color: #fff;
      }
      &::before {
        content: '';
        background: #272727;
        height: 64px;
        width: 64px;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 50%;
      }
    }
  }
  .section-slide.swiper-slide {
    margin-right: 0;
    .section-content-image {
      filter: grayscale(1);
      transform: scale(.85);
      transition: .5s ease-in-out;
      position: relative;
      &::before {
        content: '';
        background: #fff;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: .5;
      }
    }
    &.swiper-slide-prev {
      .section-content-image {
        transform-origin: left;
      }
    }
    &.swiper-slide-next {
      .section-content-image {
        transform-origin: right;
      }
    }
    .section-content-body {
      opacity: 0;
      transition: .5s ease-in-out;
    }
  }

  .section-slide.swiper-slide.swiper-slide-active {
    margin-right: 16px;
    .section-content-image {
      filter: grayscale(0);
      transform-origin: center;
      transform: scale(1.125);
      position: relative;
      &::before {
        content: '';
        background: #fff;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
      }
    }
    .section-content-body {
      opacity: 1;
      margin-top: 32px;
    }
  }
}