nav {
  &.navbar {
    padding-top: 36px;
    padding-bottom: 36px;
    background-color: #fff;
    .navbar-nav {
      .nav-link {
        &.active {
          font-weight: 600;
        }
        padding-left: .75rem;
        padding-right: .75rem;
        font-weight: 200;
        color: #000;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
    }
  }
}

section#section-page-banner {
  background-image: url('../../img/banners/program-banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  &::before {
    content: '';
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .80;
    background-color: var(--bs-primary);
  }
  div {
    position: relative;
    z-index: 2;
  }
}

section#section-gallery {
  .gallery-container {
    margin: 0 -24px;
   .gallery-item {
      width: 33.3%;
      margin-bottom: 36px;    
      overflow: hidden;
      padding: 0 24px;
      .gallery-item-wrapper {
        overflow: hidden;
        position: relative;
        img {
          transition: .25s ease-in-out;
        }
        .gallery-description {
          position: absolute;
          bottom: -100%;
          z-index: 1;
          width: 100%;
          transition: .25s ease-in-out;
        }
      }
      &:hover {
        img {
          transform: translate(0, -25px);
        }
        .gallery-description {
          bottom: 0
        }
      }
   }
  }
  .gallery-pagination {
    .pagination {
      .page-item {
        &.active {
          a {
            background-color: var(--bs-secondary) !important;
            border-color: var(--bs-secondary) !important;
            color: #fff !important;
          }
        }
        &.disabled {
          a {
            opacity: .5;
          }
        }
        a {
          color: #000 !important;
        }
      }
    }
  }
}