/* Custom Styling */
section#section-what-is-fhci .section-image .section-play-video {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  position: absolute;
  top: calc(50% - 95px);
  right: calc(-190px / 2);
}

@media screen and (max-width: 768px) {
  section#section-what-is-fhci .section-image .section-play-video {
    top: inherit;
    bottom: calc(128px - 95px);
    right: 95px;
    left: 95px;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

section#section-what-is-fhci .section-navigation-prev {
  height: 64px;
  width: 64px;
  left: 32px;
}

section#section-what-is-fhci .section-navigation-prev::after {
  -webkit-transform: scale(0.5) !important;
          transform: scale(0.5) !important;
  color: #fff;
}

section#section-what-is-fhci .section-navigation-prev::before {
  content: '';
  background: #272727;
  height: 64px;
  width: 64px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  section#section-what-is-fhci .section-navigation-prev {
    display: none;
  }
}

section#section-what-is-fhci .section-navigation-next {
  height: 64px;
  width: 64px;
  right: 32px;
}

section#section-what-is-fhci .section-navigation-next::after {
  -webkit-transform: scale(0.5) !important;
          transform: scale(0.5) !important;
  color: #fff;
}

section#section-what-is-fhci .section-navigation-next::before {
  content: '';
  background: #272727;
  height: 64px;
  width: 64px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  section#section-what-is-fhci .section-navigation-next {
    display: none;
  }
}

/* Custom Styling */
section#section-program-unggulan .section-image .section-play-video {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  position: absolute;
  top: calc(50% - 95px);
  right: calc(-190px / 2);
}

@media screen and (max-width: 768px) {
  section#section-program-unggulan .section-image .section-play-video {
    top: inherit;
    bottom: calc(128px - 95px);
    right: 95px;
    left: 95px;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

section#section-program-unggulan .section-navigation-prev {
  height: 64px;
  width: 64px;
  left: 32px;
}

section#section-program-unggulan .section-navigation-prev::after {
  -webkit-transform: scale(0.5) !important;
          transform: scale(0.5) !important;
  color: #fff;
}

section#section-program-unggulan .section-navigation-prev::before {
  content: '';
  background: #272727;
  height: 64px;
  width: 64px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  section#section-program-unggulan .section-navigation-prev {
    display: none;
  }
}

section#section-program-unggulan .section-navigation-next {
  height: 64px;
  width: 64px;
  right: 32px;
}

section#section-program-unggulan .section-navigation-next::after {
  -webkit-transform: scale(0.5) !important;
          transform: scale(0.5) !important;
  color: #fff;
}

section#section-program-unggulan .section-navigation-next::before {
  content: '';
  background: #272727;
  height: 64px;
  width: 64px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  section#section-program-unggulan .section-navigation-next {
    display: none;
  }
}

section#section-magazine {
  background-image: url("../../img/globals/fhci-icon-half.svg");
  background-repeat: no-repeat;
  background-position: right top;
}

section#section-magazine .section-swiper {
  overflow: hidden !important;
  position: relative;
}

section#section-magazine .section-swiper .section-navigation-prev {
  position: absolute;
  left: 30%;
  top: 35%;
  height: 64px;
  width: 64px;
}

section#section-magazine .section-swiper .section-navigation-prev::after {
  -webkit-transform: scale(0.5) !important;
          transform: scale(0.5) !important;
  color: #fff;
}

section#section-magazine .section-swiper .section-navigation-prev::before {
  content: '';
  background: #272727;
  height: 64px;
  width: 64px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
}

section#section-magazine .section-swiper .section-navigation-next {
  position: absolute;
  right: 30%;
  top: 35%;
  height: 64px;
  width: 64px;
}

section#section-magazine .section-swiper .section-navigation-next::after {
  -webkit-transform: scale(0.5) !important;
          transform: scale(0.5) !important;
  color: #fff;
}

section#section-magazine .section-swiper .section-navigation-next::before {
  content: '';
  background: #272727;
  height: 64px;
  width: 64px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
}

section#section-magazine .section-slide.swiper-slide {
  margin-right: 0;
}

section#section-magazine .section-slide.swiper-slide .section-content-image {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  position: relative;
}

section#section-magazine .section-slide.swiper-slide .section-content-image::before {
  content: '';
  background: #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .5;
}

section#section-magazine .section-slide.swiper-slide.swiper-slide-prev .section-content-image {
  -webkit-transform-origin: left;
          transform-origin: left;
}

section#section-magazine .section-slide.swiper-slide.swiper-slide-next .section-content-image {
  -webkit-transform-origin: right;
          transform-origin: right;
}

section#section-magazine .section-slide.swiper-slide .section-content-body {
  opacity: 0;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

section#section-magazine .section-slide.swiper-slide.swiper-slide-active {
  margin-right: 16px;
}

section#section-magazine .section-slide.swiper-slide.swiper-slide-active .section-content-image {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(1.125);
          transform: scale(1.125);
  position: relative;
}

section#section-magazine .section-slide.swiper-slide.swiper-slide-active .section-content-image::before {
  content: '';
  background: #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

section#section-magazine .section-slide.swiper-slide.swiper-slide-active .section-content-body {
  opacity: 1;
  margin-top: 32px;
}

section#section-commitee .section-content-image {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

section#section-commitee .section-content-image:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

section#section-blog {
  background-image: url("../../img/globals/fhci-icon-half.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
}
/*# sourceMappingURL=index.css.map */