html {
    overflow-x: hidden;
}
.p-10 {
    padding: 10px;
}
.navbar .container {
    display: flex;
    justify-content: space-between !important;
}
.navbar-brand {
    width: 18%;
}
.section-content.human-fhci {
    padding-top: 256px;
    padding-bottom: 256px;
    padding-right: 192px;
    padding-left: 128px;
}
#section-program-unggulan {
    padding-top: 100px;
    padding-bottom: 156px;
}
.slide-header-media.fhci {
    padding-top: 100px;
    padding-bottom: 64px;
}
section#section-magazine .section-swiper {
    overflow: hidden !important;
}
.section-subscribe {
    justify-content: center;
}
.footer-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-child {
    justify-content: center;
}
.section-slide.swiper-slide.program-unggulan {
    margin-right: 36px;
}


@media only screen and (min-width: 300px) and (max-width: 768px) {
    .navbar-collapse {
        background-color: #fff;
    }
    nav.navbar .navbar-nav .nav-link {
        color: #000 !important;
    }
    .section-content.human-fhci {
        padding-top: 0px;
        padding-bottom: 20px;
        padding-right: 35px;
        padding-left: 35px;
    }
    .slide-header-media.fhci {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .section-subscribe {
        justify-content: start;
    }
    .section-subscribe .btn {
        margin-top: 10px;
    }
    .footer-flex {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .footer-child {
        justify-content: center;
        margin: 10px;
    }
    .section-slide.swiper-slide.program-unggulan {
        width: 220px !important;
        height: auto !important;
    }
}