/* Custom Styling */
section#section-what-is-fhci {
  .section-image{
    .section-play-video {
      transform: scale(.75);
      position: absolute;
      top: calc(50% - 95px);
      right: calc(-190px / 2);
      @media screen and (max-width: 768px) {
        top: inherit;
        bottom: calc(128px - 95px);
        right: 95px;
        left: 95px;
        transform: scale(.5);
      }
    }
  }

  .section-navigation-prev {
    height: 64px;
    width: 64px;
    left: 32px;
    &::after {
      transform: scale(.5) !important;
      color: #fff;
    }
    &::before {
      content: '';
      background: #272727;
      height: 64px;
      width: 64px;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .section-navigation-next {
    height: 64px;
    width: 64px;
    right: 32px;
    &::after {
      transform: scale(.5) !important;
      color: #fff;
    }
    &::before {
      content: '';
      background: #272727;
      height: 64px;
      width: 64px;
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 50%;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}


/* Custom Styling */
section#section-program-unggulan {
  .section-image{
    .section-play-video {
      transform: scale(.75);
      position: absolute;
      top: calc(50% - 95px);
      right: calc(-190px / 2);
      @media screen and (max-width: 768px) {
        top: inherit;
        bottom: calc(128px - 95px);
        right: 95px;
        left: 95px;
        transform: scale(.5);
      }
    }
  }

  .section-navigation-prev {
    height: 64px;
    width: 64px;
    left: 32px;
    &::after {
      transform: scale(.5) !important;
      color: #fff;
    }
    &::before {
      content: '';
      background: #272727;
      height: 64px;
      width: 64px;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .section-navigation-next {
    height: 64px;
    width: 64px;
    right: 32px;
    &::after {
      transform: scale(.5) !important;
      color: #fff;
    }
    &::before {
      content: '';
      background: #272727;
      height: 64px;
      width: 64px;
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 50%;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

section#section-magazine {
  background-image: url('../../img/globals/fhci-icon-half.svg');
  background-repeat: no-repeat;
  background-position: right top;
  .section-swiper {
    overflow: visible !important;
    position: relative;
    .section-navigation-prev {
      position: absolute;
      left: 30%;
      top: 35%;
      height: 64px;
      width: 64px;
      &::after {
        transform: scale(.5) !important;
        color: #fff;
      }
      &::before {
        content: '';
        background: #272727;
        height: 64px;
        width: 64px;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 50%;
      }
    }
    .section-navigation-next {
      position: absolute;
      right: 30%;
      top: 35%;
      height: 64px;
      width: 64px;
      &::after {
        transform: scale(.5) !important;
        color: #fff;
      }
      &::before {
        content: '';
        background: #272727;
        height: 64px;
        width: 64px;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 50%;
      }

    }
  }
  .section-slide.swiper-slide {
    margin-right: 0;
    .section-content-image {
      filter: grayscale(1);
      transform: scale(.85);
      transition: .5s ease-in-out;
      position: relative;
      &::before {
        content: '';
        background: #fff;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: .5;
      }
    }
    &.swiper-slide-prev {
      .section-content-image {
        transform-origin: left;
      }
    }
    &.swiper-slide-next {
      .section-content-image {
        transform-origin: right;
      }
    }
    .section-content-body {
      opacity: 0;
      transition: .5s ease-in-out;
    }
  }

  .section-slide.swiper-slide.swiper-slide-active {
    margin-right: 16px;
    .section-content-image {
      filter: grayscale(0);
      transform-origin: center;
      transform: scale(1.125);
      position: relative;
      &::before {
        content: '';
        background: #fff;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
      }
    }
    .section-content-body {
      opacity: 1;
      margin-top: 32px;
    }
  }
}

section#section-commitee {
  .section-content-image {
    filter: grayscale(1);
    transition: .25s ease-in-out;
    &:hover {
      filter: grayscale(0);
    }
  }
}

section#section-blog {
  background-image: url('../../img/globals/fhci-icon-half.svg');
  background-repeat: no-repeat;
  background-position: right bottom;
}