nav.navbar {
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: #fff;
}

nav.navbar .navbar-nav .nav-link {
  padding-left: .75rem;
  padding-right: .75rem;
  font-weight: 200;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav.navbar .navbar-nav .nav-link.active {
  font-weight: 600;
}

section#section-page-magang {
  background-image: url("../../img/globals/fhci-icon-half-rtl-primary.svg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
}

section#section-page-magang-flow {
  background-image: url("../../img/globals/fhci-icon-half.svg");
  background-repeat: no-repeat;
  background-position: right top;
}

section#section-page-bumn {
  background-image: url("../../img/globals/fhci-icon-half.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
}

section#section-page-bumn .bumn-item:not(a) {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

section#section-page-bumn .bumn-item:not(a):hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

section#section-page-univ .univ-item:not(a) {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

section#section-page-univ .univ-item:not(a):hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

section#section-page-faq {
  background-image: url("../../img/globals/fhci-icon-half.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}

section#section-page-faq .faq-content #faqAccordion .accordion-item {
  background: transparent;
}

section#section-page-faq .faq-content #faqAccordion .accordion-item .accordion-button {
  color: #000;
}
/*# sourceMappingURL=magang.css.map */