nav.navbar {
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: #fff;
}

nav.navbar .navbar-nav .nav-link {
  padding-left: .75rem;
  padding-right: .75rem;
  font-weight: 200;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav.navbar .navbar-nav .nav-link.active {
  font-weight: 600;
}

section#section-page-banner {
  background-image: url("../../img/banners/program-banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

section#section-page-banner::before {
  content: '';
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: .80;
  background-color: var(--bs-primary);
}

section#section-page-banner div {
  position: relative;
  z-index: 2;
}

section#section-program-unggulan {
  background-image: url("../../img/globals/fhci-icon-half-gray.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}

section#section-program-unggulan .section-image .section-play-video {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  position: absolute;
  top: calc(50% - 95px);
  right: calc(-190px / 2);
}

@media screen and (max-width: 768px) {
  section#section-program-unggulan .section-image .section-play-video {
    top: inherit;
    bottom: calc(128px - 95px);
    right: 95px;
    left: 95px;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

section#section-program-unggulan .section-navigation-prev {
  height: 64px;
  width: 64px;
  left: 32px;
}

section#section-program-unggulan .section-navigation-prev::after {
  -webkit-transform: scale(0.5) !important;
          transform: scale(0.5) !important;
  color: #fff;
}

section#section-program-unggulan .section-navigation-prev::before {
  content: '';
  background: #272727;
  height: 64px;
  width: 64px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  section#section-program-unggulan .section-navigation-prev {
    display: none;
  }
}

section#section-program-unggulan .section-navigation-next {
  height: 64px;
  width: 64px;
  right: 32px;
}

section#section-program-unggulan .section-navigation-next::after {
  -webkit-transform: scale(0.5) !important;
          transform: scale(0.5) !important;
  color: #fff;
}

section#section-program-unggulan .section-navigation-next::before {
  content: '';
  background: #272727;
  height: 64px;
  width: 64px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  section#section-program-unggulan .section-navigation-next {
    display: none;
  }
}

section#section-page-statement {
  background-image: url("../../img/globals/fhci-icon-half-rtl.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 50%;
}

section#section-page-statement .page-statement-image {
  position: relative;
}

section#section-page-statement .page-statement-image img:nth-child(0) {
  z-index: 2;
}

section#section-page-statement .page-statement-image img:nth-child(1) {
  position: absolute;
  z-index: 1;
}

section#section-page-event {
  background-image: url("../../img/globals/fhci-icon-half.svg");
  background-repeat: no-repeat;
  background-position: right top;
}

section#section-page-event .event-body .event-item-wrapper {
  position: relative;
}

section#section-page-event .event-body .event-item-wrapper .item-wrapper-inner {
  position: relative;
  max-width: 90%;
}

section#section-page-event .event-body .event-item-wrapper .item-wrapper-inner .item-title {
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: -moz-linear-gradient(-90deg, rgba(0, 0, 0, 0), black);
  z-index: 2;
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

section#section-page-event .event-body .event-item-wrapper .item-badge {
  position: absolute;
  top: 36px;
  right: 0;
  width: 20%;
}
/*# sourceMappingURL=program.css.map */