nav {
  &.navbar {
    padding-top: 36px;
    padding-bottom: 36px;
    background-color: #fff;
    .navbar-nav {
      .nav-link {
        &.active {
          font-weight: 600;
        }
        padding-left: .75rem;
        padding-right: .75rem;
        font-weight: 200;
        color: #000;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
    }
  }
}

section#section-page-banner {
  background-image: url('../../img/banners/program-banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  &::before {
    content: '';
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .80;
    background-color: var(--bs-primary);
  }
  div {
    position: relative;
    z-index: 2;
  }
}


section#section-program-unggulan {
  background-image: url('../../img/globals/fhci-icon-half-gray.svg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
  .section-image{
    .section-play-video {
      transform: scale(.75);
      position: absolute;
      top: calc(50% - 95px);
      right: calc(-190px / 2);
      @media screen and (max-width: 768px) {
        top: inherit;
        bottom: calc(128px - 95px);
        right: 95px;
        left: 95px;
        transform: scale(.5);
      }
    }
  }

  .section-navigation-prev {
    height: 64px;
    width: 64px;
    left: 32px;
    &::after {
      transform: scale(.5) !important;
      color: #fff;
    }
    &::before {
      content: '';
      background: #272727;
      height: 64px;
      width: 64px;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .section-navigation-next {
    height: 64px;
    width: 64px;
    right: 32px;
    &::after {
      transform: scale(.5) !important;
      color: #fff;
    }
    &::before {
      content: '';
      background: #272727;
      height: 64px;
      width: 64px;
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 50%;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

section#section-page-statement {
  background-image: url('../../img/globals/fhci-icon-half-rtl.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 50%;
  .page-statement-image {
    position: relative;
    img {
      &:nth-child(0) {
        z-index: 2;
      }
      &:nth-child(1) {
        position: absolute;
        z-index: 1;
      }
    }
  }
}

section#section-page-event {
  background-image: url('../../img/globals/fhci-icon-half.svg');
  background-repeat: no-repeat;
  background-position: right top;
  .event-body {
    .event-item-wrapper {
      position: relative;
      .item-wrapper-inner {
        position: relative;
        max-width: 90%;
        .item-title {
          position: absolute;
          bottom: 0;
          left: 0;
          background-image: -moz-linear-gradient(-90deg, rgba(0,0,0,0), rgba(0,0,0,1));
          z-index: 2;
          width: 100%;
          height: 50%;
          display: flex;
          flex-direction: column;
          justify-content: end;
        }
      }
      .item-badge {
        position: absolute;
        top: 36px;
        right: 0;
        width: 20%;
      }
    }
  }
}