html {
    overflow-x: hidden;
}
.mt-100 {
    margin-top: 100px;
}
.p-x-15 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
}
.section-content.human-fhci {
    padding-top: 256px;
    padding-bottom: 256px;
    padding-right: 192px;
    padding-left: 128px;
}
#section-program-unggulan {
    padding-top: 100px;
    padding-bottom: 156px;
}
.slide-header-media.fhci {
    padding-top: 100px;
    padding-bottom: 64px;
}
.section-slide.swiper-slide.program-unggulan {
    margin-right: 36px;
}
section#section-page-event .event-body .event-item-wrapper {
    margin-bottom: 20px;
    margin-top: 20px;
}
.form-group.dropdown-tgl {
    width: auto;
}
select.select-tgl {
    width: auto;
}
.form-group.event-tgl {
    width: auto;
}
input.input-tgl {
    width: auto;
}
.footer-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-child {
    justify-content: center;
}

@media only screen and (min-width: 300px) and (max-width: 768px) {
    .section-content.human-fhci {
        padding-top: 0px;
        padding-bottom: 20px;
        padding-right: 35px;
        padding-left: 35px;
    }
    .slide-header-media.fhci {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .section-slide.swiper-slide.program-unggulan {
        width: 220px !important;
        height: auto !important;
    }
    .form-group.dropdown-tgl {
        width: 100%;
    }
    select.select-tgl {
        width: 100%;
    }
    .form-group.event-tgl {
        width: 100%;
    }
    input.input-tgl {
        width: 100%;
    }
    .footer-flex {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .footer-child {
        justify-content: center;
        margin: 10px;
    }
}