nav {
  &.navbar {
    padding-top: 36px;
    padding-bottom: 36px;
    background-color: #fff;
    .navbar-nav {
      .nav-link {
        &.active {
          font-weight: 600;
        }
        padding-left: .75rem;
        padding-right: .75rem;
        font-weight: 200;
        color: #000;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
    }
  }
}

section#section-page-team-content {
  background-image: url('../../img/globals/fhci-icon-half.svg');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 50%;
}