nav.navbar {
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: #fff;
}

nav.navbar .navbar-nav .nav-link {
  padding-left: .75rem;
  padding-right: .75rem;
  font-weight: 200;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav.navbar .navbar-nav .nav-link.active {
  font-weight: 600;
}

section#section-page-team-content {
  background-image: url("../../img/globals/fhci-icon-half.svg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 50%;
}
/*# sourceMappingURL=team.css.map */