#banner {
  height: 1074px;
  min-height: 560px;
  .banner-swiper {
    .banner-navigation {
      display: flex;
      align-items: center;
      height: 100%;
      padding-top: 5rem;
    }
    .banner-wrapper {
      .banner-slide {
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .banner-media {
          position: relative;
          z-index: 1;
          height: 1074px;
          min-height: 560px;
          overflow: hidden;
          width: 100%;
          img, video {
            object-fit: cover;
            object-position: center;
          }
          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: .20;
            z-index: 2;
            pointer-events:none;
          }
        }
        .banner-content {
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          display: flex;
          align-items: center;
          z-index: 3;
          .banner-header {
            line-height: 80%;
          }
          .banner-subheader {
            margin-top: 16px;
          }
          .banner-action {
            margin-top: 48px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}