.container-no-xl {
  @media (min-width: 0) and (max-width: 2160px) {
    width: auto;
    max-width: none;
    padding: 0;
  }
}

@each $size in $sizes {
  .padding-y-#{$size} {
    padding-top: #{$size}px;
    padding-bottom: #{$size}px;
  }

  .padding-top-#{$size} {
    padding-top: #{$size}px;
  }

  .padding-bottom-#{$size} {
    padding-bottom: #{$size}px;
  }

  .padding-x-#{$size} {
    padding-left: #{$size}px;
    padding-right: #{$size}px;
  }

  .padding-left-#{$size} {
    padding-left: #{$size}px;
  }

  .padding-right-#{$size} {
    padding-right: #{$size}px;
  }

  .margin-y-#{$size} {
    margin-top: #{$size}px;
    margin-bottom: #{$size}px;
  }

  .margin-top-#{$size} {
    margin-top: #{$size}px;
  }

  .margin-bottom-#{$size} {
    margin-bottom: #{$size}px;
  }

  .margin-x-#{$size} {
    margin-left: #{$size}px;
    margin-right: #{$size}px;
  }

  .margin-left-#{$size} {
    margin-left: #{$size}px;
  }

  .margin-right-#{$size} {
    margin-right: #{$size}px;
  }

  .min-height-#{$size} {
    min-height: #{$size}px;
  }

  .max-height-#{$size} {
    max-height: #{$size}px;
  }

  .min-width-#{$size} {
    min-width: #{$size}px;
  }

  .max-width-#{$size} {
    max-width: #{$size}px;
  }

  .letter-spacing-#{$size} {
    letter-spacing: #{$size}px;
  }

  .line-height-#{$size} {
    line-height: #{$size}px;
  }

  // negative
  .padding-y-#{$size}-negative {
    padding-top: -#{$size}px;
    padding-bottom: -#{$size}px;
  }

  .padding-top-#{$size}-negative {
    padding-top: -#{$size}px;
  }

  .padding-bottom-#{$size}-negative {
    padding-bottom: -#{$size}px;
  }

  .padding-x-#{$size}-negative {
    padding-left: -#{$size}px;
    padding-right: -#{$size}px;
  }

  .padding-left-#{$size}-negative {
    padding-left: -#{$size}px;
  }

  .padding-right-#{$size}-negative {
    padding-right: -#{$size}px;
  }

  .margin-y-#{$size}-negative {
    margin-top: -#{$size}px;
    margin-bottom: -#{$size}px;
  }

  .margin-top-#{$size}-negative {
    margin-top: -#{$size}px;
  }

  .margin-bottom-#{$size}-negative {
    margin-bottom: -#{$size}px;
  }

  .margin-x-#{$size}-negative {
    margin-left: -#{$size}px;
    margin-right: -#{$size}px;
  }

  .margin-left-#{$size}-negative {
    margin-left: -#{$size}px;
  }

  .margin-right-#{$size}-negative {
    margin-right: -#{$size}px;
  }

  .min-height-#{$size}-negative {
    min-height: -#{$size}px;
  }

  .max-height-#{$size}-negative {
    max-height: -#{$size}px;
  }

  .min-width-#{$size}-negative {
    min-width: -#{$size}px;
  }

  .max-width-#{$size}-negative {
    max-width: -#{$size}px;
  }

  .letter-spacing-#{$size}-negative {
    letter-spacing: -#{$size}px;
  }

  .line-height-#{$size}-negative {
    line-height: -#{$size}px;
  }
}

.object-position-center {
  object-position: center;
}

.object-position-top {
  object-position: top;
}

.object-position-bottom {
  object-position: bottom;
}

.object-fit-cover {
  object-fit: cover;
}

.object-fit-contain {
  object-fit: contain;
}

.bg-fhci-icon-half {
  background-image: url('/assets/img/globals/fhci-icon-half.svg');
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 75%;
}

.text-transform-uppercase {
  text-transform: uppercase;
}

.align-items-self-end {
  align-items: self-end;
}

.p-relative {
  position: relative;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.placeholder-white {
  &::placeholder {
    color: rgba(255,255,255, .75);
    font-weight: '400';
  }
}

.breadcrumb-item.breadcrumb-light + .breadcrumb-item.breadcrumb-light::before {
  color: rgba(0,0,0,.5) !important;
}

.bg-primary-darker {
  background-color: #7A0507;
}

.bg-primary-200 {
  background-color: #BB1216;
}

.bg-primary-400 {
  background-color: #AC0F12;
  
}

.bg-primary-600 {
  background-color: #850508;
}