$breadcrumb-divider: quote(">");
$breadcrumb-divider-color: rgba(255,255,255,.5);

@import "color";
@import "typography";

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/* Components */
@import "navbar";
@import "banner";

@import "misc";